﻿<h2>Main page</h2>

@model Web_Assignment.Models.ViewModels.SubmitItemVm
@{
    ViewBag.Title = "Home Page";
}
<script language="javascript" type="text/javascript">
    function GetAgreement(_customerId) {
        var processmessage = "<option value='0'> Please wait...</option>";
        $("#agreementSelect").html(processmessage).show();
        var url = "@Url.Action("GetAgreementsByCustomerId")";

        $.ajax({
            url: url,
            data: { customerId: _customerId },
            cache: false,
            type: "POST",
            success: function(data) {
                var markup = "<option value='0'>Select Agreement</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#agreementSelect").html(markup).show();
            },
            error: function(reponse) {
                alert("error : " + reponse);
            }
        });

    }
</script>

@using (Html.BeginForm())
{
    @Html.DropDownListFor(m => m.SelectedCustomerId, new SelectList(Model.CustomerModel, "Id", "FullName"), new { @id = "agreement", @style = "width:200px;", @onchange = "javascript:GetAgreement(this.value);" })
    <br />
    <br />
    <select id="agreementSelect" name="SelectedAgreementId" style="width: 200px"></select>
    <br/><br/>
    @Html.TextBoxFor(m=>m.NewBaseCode);
    <input type="submit" value="Submit" class="btn btn-primary" />
}
