﻿@model Web_Assignment.Models.ViewModels.ResultItemVm
@{
    ViewBag.Title = "ResultView";
}
<h2>ResultView</h2>
<div class="panel-body form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.Customer.FullName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Customer.FullName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Customer.FullName)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Agreement.BaseRateCode, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Agreement.BaseRateCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Agreement.BaseRateCode)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Agreement.Amount, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Agreement.Amount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Agreement.Amount)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Agreement.Duration, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Agreement.Duration, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Agreement.Duration)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Agreement.Margin, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Agreement.Margin, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Agreement.Margin)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CurrentInterestRate, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.CurrentInterestRate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CurrentInterestRate)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.NewInterestRate, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.NewInterestRate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NewInterestRate)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DiffInterest, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.DiffInterest, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DiffInterest)
        </div>
    </div>
    </div>

